# Build directories
build*/
*-build/

# Qt Creator files
*.pro.user
*.pro.user.*
.qtc_clangd/

# Compiled files
*.o
*.so
*.a
MiniStocks
moc_*.cpp
ui_*.h
Makefile
.qmake.stash

# Debian build files
debian/.debhelper/
debian/*.debhelper
debian/*.substvars
debian/files
*.deb
*.ddeb
*.changes
*.buildinfo
*.build

# Backup files
*~
*.swp
*.bak
