Source: ministocks
Section: misc
Priority: optional
Maintainer: Danial maleki (Debian maintainer) <danialmaleki.online@gmail.com>
Build-Depends: debhelper-compat (= 13), qtbase5-dev, qt5-qmake, qttools5-dev-tools
Standards-Version: 4.7.4
Vcs-Browser: https://salsa.debian.org/myczko-guest/ministocks
Vcs-Git: https://github.com/Danial-maleki/MiniStocks.git -b main
Homepage: https://github.com/Danial-maleki/MiniStocks

Package: ministocks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: minimalistic QT stock ticker for Linux
 This is a Qt widget focussing on a minimalistic display of real-time stock
 data.
